# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Misc
.DS_Store
*.pem

# Local history / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore any Word document study guides that might be copied here
*.docx
*~
.~*
